<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Fiks!</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <base href="/"> 

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

  <!-- Bootstrap css -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.theme.default.min.css" rel="stylesheet">
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/modal-video/css/modal-video.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="css/style.css" rel="stylesheet">

</head>

<body>
  
    <header id="header" class="header header-hide">
        <div class="container">
    
          <div id="logo" class="pull-left">
            <h1><a href="/" class="scrollto">F<span>I</span>KS</a></h1>
          </div>
    
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li class="menu-active"><a href="/">Home</a></li>
                <li><a href="/repair">Repair</a></li>
                <li><a href="https://docs.google.com/forms/d/e/1FAIpQLSd01GZUkLrh9TdltrENrKHoTlBKFM9O38vlukdifZVcbd41MQ/viewform">Sell</a></li>
              <!-- <li><a href="/#about-us">About</a></li> -->
    
              <!-- <li><a href="/#screenshots">Screenshots</a></li> -->
              <!-- <li><a href="/#team">Team</a></li> -->
              <!-- <li><a href="/#pricing">Pricing</a></li> -->
              <!-- <li><a href="/#blog">Blog</a></li> -->

              <li><a href="/#contact">Contact</a></li>
              <% if(!currentUser){ %>
                <li class="<%= typeof page !== 'undefined' && page === 'login' ? 'active' : '' %>"><a href="/login">Login</a></li>
                <li class="<%= typeof page !== 'undefined' && page === 'register' ? 'active' : '' %>"><a href="/register">Sign Up</a></li>
            <% } else { %>
                <li><a href="/user/<%=currentUser._id%>">Signed In As <%= currentUser.username %></a></li>
                <li><a href="/logout">Logout</a></li>
            <% } %>
            </ul>
          </nav><!-- #nav-menu-container -->
          <div class="container">
              <% if(error && error.length > 0) { %>
                <div class="alert alert-danger"><p><%=error %></p></div>
              <% } %>
              
              <% if(success && success.length > 0) { %>
                <div class="alert alert-success"><p><%= success %></p></div>
              <% } %>
           </div>
        </div>
      </header><!-- #header -->
